include *.py
include .coveragerc

include LICENSE
include README.rst
include tox.ini
exclude bitbucket-pipelines.yml
exclude docs/Makefile

exclude tests
recursive-exclude tests *

recursive-include docs *.py
recursive-include docs *.rst

recursive-include yawrap *.py

recursive-exclude yawrap/tests/out *
