exclude .coveragerc
exclude bitbucket-pipelines.yml
exclude distribute_info.txt
exclude docs
exclude docs/Makefile
exclude docs/_config.yml
exclude tests
exclude tox.ini
exclude .gitlab-ci.yml

include setup.py
include LICENSE
include CHANGELOG.md
include README.rst

recursive-exclude docs *
recursive-exclude tests *
recursive-exclude yawrap/tests/out *

recursive-include yawrap *.py
